body {
    background: linear-gradient(to bottom right, #0b0c5c, #384353);
    font-family: Arial, sans-serif;
}
form {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}
h2 {
    color: #000;
    text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #2a8739;
}
a {
    color: #000;
    text-decoration: none;
    float: right;
    font-size: 14px;
}

h1 a{
    font-size: 60px;
    text-align: right;
    float:right;
    color:rgb(70, 5, 113); 
    
}
 a:hover{
    color: #410fd6;
}
